x-common:
  &common-env
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
  AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
  AIRFLOW__CORE__AUTH_MANAGER: airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager
  AIRFLOW__API__SECRET_KEY: ${AIRFLOW_WEB_KEY}
  AIRFLOW_VAR_HOST_MODEL_STORE: ${HOST_MODEL_STORE_PATH}

x-airflow-common:
  &airflow-common
  build: ./airflow
  environment:
    <<: *common-env
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./model_store:/opt/airflow/model_store
    - /var/run/docker.sock:/var/run/docker.sock
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      retries: 5

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    command: >
      mlflow server
      --backend-store-uri postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/mlflow
      --default-artifact-root /mlflow/artifacts
      --host 0.0.0.0
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./model_store:/mlflow/artifacts

  airflow-init:
    <<: *airflow-common
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com || true
      "

  airflow-api-server:
    <<: *airflow-common
    command: airflow api-server
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: airflow scheduler
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: airflow triggerer
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  inference:
    build: ./inferences
    restart: always
    container_name: inference 
    environment:
      - MODEL_PATH=/models/latest/cyclegan.onnx
      - PORT=8080
    volumes:
      - ./model_store/latest:/models/latest
    ports:
      - "8081:8080"
    depends_on:
      - airflow-api-server

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8081/infer
    ports:
      - "3000:3000"
    restart: on-failure

volumes:
  postgres_data:
